* {
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 50%;
  padding: 30px;
  margin: auto;
}

.sketch-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 30px solid #d92027;
  border-radius: 10px;
  width: 560px;
  height: 560px;
  margin: auto;
}

.cell {
  background-color: white;
  min-height: 2px;
}

.header {
  text-align: center;
}

.subheader {
  text-align: center;
}

.menu {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.slidecontainer {
  display: block;
  width: 560px;
  text-align: center;
}

.slider {
  margin-right: 10px;
  width: 400px;
}

.sliderValue {
  font-weight: bold;
  font-size: 20px;
}

.footer {
  margin-top: 10px;
  text-align: center;
}
